<div class="homeWrapper">

    <img src="https://www.intersport.ba/media/wysiwyg/ow/CMS/IBH_zimski_popusti_fw21_1440x780.jpg" class="snizenje"
        alt="popust">

    <div class="d-flex pt-5 contentHelper" style="justify-content: center;">
        <div class="uvod">
            <h3>Skijanje podrazumijeva posjedovanje odgovarajuce ski opreme</h3>
            <p class="skijanje">Jedni od vitalnih, najvaznijih, dijelova opreme su ski kaciga, ski rukavice i brile.
                Ukoliko imate
                uslova,
                iskustva i mogucnosti bilo bi dobro posjedovati i sve dijelove tehnicke ski opreme - skije, pancerice i
                ski
                stapove. Svakako, ako ste pocetnik nije neophodno da se u prvom mahu na to fokusirate. Dovoljno je za
                početak da
                posjedujete sve odjevne dijelove ski opreme.U hladne, zimske dane aktivnost koja je uvijek odličan
                odabir jest skijanje. Ljudi svih dobi, bez obzira na razinu vještine, mogu imati koristi od dana
                provedenog na snijegu jer se radi o vrsti rekreacije koja je dobra ne samo za tijelo nego i za um.Budući
                da ste dok skijate u položaju čučnja, ono djeluje na vaša bedra, kvadricepse i stražnjicu</p>
        </div>
        <img class="skijas"
            src="https://aspenchamber.org/sites/default/files/venue-images/0fe78335-d4e3-4f7d-8707-f1effcf3b741.png"
            alt=" ski">
    </div>
    <iframe class="w-100" width="876" height="367" src="https://www.youtube.com/embed/QxA2zVhM2CU"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    <h1 class="saleHeader p-5">Akcijiski popust 10% na sve modele</h1>
    <hr>

    <div class="d-flex flex-wrap productsImages">

        <app-product-card *ngFor="let product of products10" [product]="product"></app-product-card>

    </div>
    <div class="lastContent skijasi d-flex mb-5 mt-5">
        <div class="img">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Bode_Miller_Hinterstoder_2011.jpg" alt="bode">

        </div>
        <p><span class="skijas">Bodi Miler</span> jedan je od najboljih alpskih skijasa svih vremena – osvojio je zlatne
            medalje na Olimpijskim
            igrama, svetskim prvenstvima, a dva puta je bio i sampion Svetkog kupa- prestiznog skijaskog kupa koji se
            organizuje na najboljim svetskim stazama. Miler je jedini skijas koji je u svih 5 disiciplina (spust,
            slalom, veleslalom, superveleslalom, kombinacija) osvojio 5 ili vise medalja.</p>
    </div>
    <hr>
    <div class="lastContent d-flex mb-5  skiOprema">
        <div class="img">
            <img src="https://www.skijanje.hr/slike/slike_3/r1/g2009/m04/x137200663409198939_2.jpg" alt="ski">

        </div>
        <p>
            Izbor pravih skija nije jednostavan zadatak. Ali, kada nađemo skije koje odgovaraju našem znanju skijanja i
            fizičkim sposobnostima, počinjemo stvarno da uživamo u snegu.

            Skije sa izraženim bočnim sečenjem su postale standard i konstanta. Prema tome, poređenje sa prethodnim
            modelima više nije potrebno. Isto tako više nije potrebno reći da skije ne treba birati prema visini tela,
            već i prema mnogim drugim parametrima..</p>
    </div>

    <hr>
    <div class="lastContent skijasi d-flex mb-5">
        <div class="img">
            <img src="https://www.ispo.com/sites/default/files/2017-10/imago22197858h.jpg" alt="axel">

        </div>
        <p><span class="skijas"> Aksel Lund Svindal</span> je norveški alpski skijas. Aktualni je olimpijski prvak u
            spustu.

            Jedan je od ponajboljih skijasa danasnjice. Najbolje rezultate ostvaruje u brzim disciplinama. Do sada je
            ostvario 35 pobjeda u svjetskom kupu, a ukupno je dva puta osvajao veliki kristalni globus (2007. i 2009.)
            Vlasnik je i devet malih kristalnih globusa u čak četiri različite discipline (superveleslalom
            2006.,2009.,2012.,2013.,2014.,spustu 2013.,2014.,kombinacija 2007. i veleslalom 2007.)</p>
    </div>
    <hr>
    <div class="lastContent d-flex mb-5 skiOprema">
        <div class="img">
            <img src="https://cdn.webshopapp.com/shops/212063/files/341669176/nitro-snowboard-team-exposure.jpg"
                alt="snowboard">
        </div>

        <p>
            Prilikom odabira ploče za klizanje, važno je uzeti u obzir takve parametre kao što su oblik opreme, oblik
            rupa za pričvršćivanje, širina ploče, njegova krutost i duljina. Sve ostale karakteristike, na primjer,
            materijal ploče, njezin zavoj ili oblik ruba nisu bitne za početnike.

            Ove će parametre trebati uzeti u obzir u budućnosti, nakon savladavanja osnovnih trikova i otklanjanja
            pogrešaka u vožnji. Do tada, uzimajući u obzir previše karakteristika, izbor je puno teži.</p>
    </div>

</div>