.card{
    width: 300px;
    height: 400px;
    border: 1px solid #fff;
    transition: all .5s;
    
    .quantity{
        font-size: .5em;
        color: rgb(88, 88, 88);
        text-align: right;
        width: 80%;
        margin: 0 auto;
    }

    img{
        width: 80%;
        margin: auto;
    }
    h5{
        width: 100%;
    }
    #kodPara{
        color: #D8D8D8	;
    }
    .oldPrice{
        text-decoration: line-through;
        display: none;
    }
    .newPrice{
        color:#e60b0b;
        font-size: 20px;
        font-weight: 700;
        display: none;

    }
    &:hover{
        border:2px solid #153da0;
        cursor: pointer;
        transition: all .5s;
        .oldPrice, .newPrice{
            display: block;
        }
    }
}


.card img{
    width: 200px;
    margin: auto;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width: 600px){
    .card{
        width: 150px;
        height: 350px;
    }

    .card img{
        width: 100%;
        margin: auto;
        height: unset;
        object-fit: cover;
        object-position: center;
    }

}
