.loginWrapper{
    margin-top: 0;
    background-image: url('https://besthqwallpapers.com/Uploads/30-4-2020/130645/thumb2-gray-concrete-texture-concrete-background-stone-texture-concrete-gray-stone-background.jpg');
    padding-bottom: 70px;
    padding-top: 50px;


.loginForm{
    width: 350px;
    padding:30px;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    background-color:
    #fff
    ;
}

.btn-outline-primary{
    margin-right: 5px;
    }
}
