<div class="footer">
    <div class="main">
        <div class="footerBlock">
            <h5>Najprodavanije</h5>
            <ul>
                <li>Skije</li>
                <li>Rukavice</li>
                <li>Kacige</li>
                <li>Stapovi</li>
                <li>Ski naocale</li>
            </ul>
        </div>
        <div class="footerBlock">
            <h5>Podrska</h5>
            <ul>
                <li>Pomoc</li>
                <li>Narudzbe i isporuke</li>
                <li>Povrat robe i novca</li>
                <li>Uslovi i odredbe</li>
                <li>Placanje</li>
            </ul>
        </div>
        <div class="footerBlock">
            <h5>Kompanija</h5>
            <ul>
                <li>O nama</li>
                <li>Vijesti</li>
                <li>Usluge</li>
                <li>Brendovi</li>
                <li>Novosti</li>
            </ul>
        </div>
        <div class="footerBlock">
            <h5>Kontaktirajte nasu korisnicku podrsku</h5>
            <ul>
                <li><i class="bi bi-bag-fill"> Pon-Pet 09:00-17:00 </i></li>
                <li><i class="bi bi-telephone-fill"> +387 65 488 388 </i></li>
                <li><i class="bi bi-envelope-fill"> milovicstefan01@gmail.com </i></li>
                <li><i class="bi bi-geo-alt-fill">Sarajevo</i></li>
            </ul>
        </div>
    </div>
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Visa_Inc._logo.svg" alt="visa">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Mastercard-logo.svg/220px-Mastercard-logo.svg.png"
            alt="masterCard">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/2560px-PayPal.svg.png"
            alt="paypal">
    </div>
</div>